---
import BaseLayout from '../../layouts/Layout.astro';
import { municipios } from '../../data/municipios';
import GraficaHistoricaPoblacion from '../../components/GraficaHistoricaPoblacion.astro';
import GraficaSaldoVegetativo from '../../components/GraficaSaldoVegetativo.astro';
import MunicipiosSection from '../../components/MunicipiosSection.astro';
import DatosDestacados from '../../components/DatosDestacados.astro';

const provincia = 'teruel';
const municipiosTeruel = municipios.filter(m => m.provincia === provincia);

const datosTeruel = [
  {
    "valor": "46.16%",
    "descripcion": "Disminución de población desde 1900",
    "color": "indigo"
  },
  {
    "valor": "5.52%",
    "descripcion": "Mayor crecimiento (1900-1910)",
    "color": "emerald"
  },
  {
    "valor": "22.30%",
    "descripcion": "Mayor decrecimiento (1960-1970)",
    "color": "amber"
  }
];
---

<BaseLayout title="Teruel - La casa caída">
  <section class="provincia-container">
    <section class="provincia-layout">

      <section class="container-chart">
        <div class="section-text">
          <h1 class="provincia-titulo">Teruel ¿existe?</h1>
          <p class="header-ronda">
            <span class="header-ronda-text">Lagrimas caídas, siglos de exclusión,</span>
            <span class="header-ronda-text">dádivas perdidas en el fondo de un cajón.</span>
            <span class="header-ronda-text">Tierra abandonada para el buitre carroñero,</span>
            <span class="header-ronda-text">promesas olvidadas en el vertedero.</span>
            <span class="header-ronda-text">Somos made in Teruel, made in Teruel,</span>
            <span class="header-ronda-text">estamos que no estamos para mal o para bien.</span>
            <span class="header-ronda-text">Jóvenes parados tienen que partir.</span>
            <span class="header-ronda-text">Viejos resignados sólo les queda vivir viendo como mueren sus raíces</span>
            <a href="https://www.youtube.com/watch?v=Ur3-qy4bd-s" class="header-ronda-text">Azero - Made In Teruel</a>
          </p>

          <section class="intro">
            <p>Teruel existe para aquellos que tuvieron que marchar en busca de un futuro mejor, en aquellos que se quedaron y en aquellos que darían todo por quedarse cuando se acaba el verano. No existe para aquellos que gobernaron, gobiernan y gobernarán. Las cifras son claras en 50 años ha perdido casi el 50% de su población. En 28 municipios no hay un solo habitante que sea menor de 16 años. En 85 municipios hay menos de 5 habitantes menores de 18 años.
              El futuro se marcha, obligado por aquellos que pudieron hacer algo y ni tan si quiera lo intentaron.</p>
          </section>
          <DatosDestacados datos={datosTeruel} />
        </div>
        <div class="chart-header section-text">
          <h2>Evolución de la población - Teruel</h2>
          <p>En la siguiente gráfica podemos ver cómo ha ido evolucionando la población total de la provincia de Teruel desde 1900 hasta 2024.</p>
          <span class="data">Los datos provienen de dos datasets diferentes. Censo de habitantes desde 1900 a 2011 disponible en Aragon Open Data. Los datos de 2024 son del INE.</span>
        </div>
        <GraficaHistoricaPoblacion provincia={provincia} />
      </section>

      <section class="container-chart">
        <div class="chart-header section-text">
          <h2>Saldo vegetativo - Teruel</h2>
          <p>El saldo vegetativo representa la diferencia entre nacimientos y defunciones, mostrando el crecimiento natural de la población sin considerar los movimientos migratorios.</p>
          <span class="data">Los datos son del IAEST.</span>
        </div>
        <GraficaSaldoVegetativo provincia={provincia} />
      </section>

      <MunicipiosSection municipios={municipiosTeruel} provincia={provincia} />
    </section>
  </section>
</BaseLayout>
